<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <header>
        <h1>Help</h1>
        <div>
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
    </header>
   
    <p>Some Useful Informations</p>
    <footer>
        <p>Created by Yuva</p>
    </footer>
</body>
</html>