<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <header>
        <h1>Home</h1>
        <div>
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
    </header>
    <input type="text" id="name">
    <button id="searchBtn">Search</button>
    <footer>
        <p>Created by Yuva</p>
    </footer>
</body>
</html>